---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import Header from '../components/Header.astro'
import heroImg from '../images/pifi-hero.webp'
import missionImg from '../images/gb-btc-flag.webp'
import whyImg from '../images/gb-btc-large-flag.webp'
import { Image } from 'astro:assets'
import SectionButton from '../components/SectionButton.astro'
import Footer from '../components/Footer.astro'
---

<Layout title="Pi Finance UK">
  <main>
    <section>
      <Card class="hero-card" invertColor bgImageUrl={heroImg.src}>
        <Header />
        <div class="hero">
          <h1 class="hero-heading">
            Bridging Traditional Finance with the Future
          </h1>
        </div>
      </Card>
    </section>
    <section>
      <Card>
        <div class="mission-card">
          <div class="bodyText">
            <div>
              <label>Mission</label>
              <h2>
                Welcome to Pi Finance UK, London's Premier Web3 FinTech
                Innovator
              </h2>
              <p>
                Based in the heart of London, we merge the sophistication of
                traditional finance with the pioneering innovations of web3 to
                deliver unparalleled consulting and software solutions in the
                FinTech sector.
              </p>
            </div>
            <SectionButton href="#">Learn How</SectionButton>
          </div>
          <div class="image hide">
            <Image src={missionImg} alt="GB BTC Flag" />
          </div>
        </div>
      </Card>
    </section>
    <section class="alt why-section">
      <Card
        invertColor
        bgImageUrl={whyImg.src}
        bgColor="rgba(0,0,0,0.6)"
        bgBlendMode="darken"
      >
        <div class="why-card">
          <div>
            <h2>Why Choose Pi Finance UK?</h2>
            <p>
              We bring our expertise to multiple construction sectors,
              developing the industry's future and redefining what is possible,
              one project at a time.
            </p>
          </div>
        </div>
      </Card>
      <Card>
        <div class="mission-card">
          <div class="bodyText">
            <div>
              <label>01</label>
              <h3>Deep FinTech Expertise</h3>
            </div>
            <p class="small">
              With our roots firmly entrenched in the finance sector, we have an
              unparalleled understanding of the complexities and nuances that
              govern it.
            </p>
          </div>
          <div class="image">
            <Image src={missionImg} alt="GB BTC Flag" height={300} />
          </div>
        </div>
      </Card>
      <Card>
        <div class="mission-card">
          <div class="bodyText">
            <div>
              <label>02</label>
              <h3>Web3 Pioneers</h3>
            </div>
            <p class="small">
              We're not just followers of the web3 revolution. We're leaders.
              Our team is at the forefront, ensuring you leverage the latest and
              most effective blockchain technologies.
            </p>
          </div>
          <div class="image">
            <Image src={missionImg} alt="GB BTC Flag" height={300} />
          </div>
        </div>
      </Card>
      <Card>
        <div class="mission-card">
          <div class="bodyText">
            <div>
              <label>03</label>
              <h3>Boutique Consulting</h3>
            </div>
            <p class="small">
              Every client is unique. That's why our consulting services are
              tailored to fit the specific needs of your business. Expect
              personalized, hands-on guidance every step of the way.
            </p>
          </div>
          <div class="image">
            <Image src={missionImg} alt="GB BTC Flag" height={300} />
          </div>
        </div>
      </Card>
    </section>
    <section class="alt">
      <Footer />
    </section>
  </main>
</Layout>

<style>
  main {
    width: 100%;
    max-width: 100%;
  }
  section {
    padding: 2rem;
  }
  section.alt {
    background-color: var(--bg-alt-color);
  }
  .card p {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  .card p.small {
    font-size: 1rem;
  }
  .image > img {
    object-fit: cover;
    width: 100%;
    border-radius: 20px;
  }
  .hero-card {
    padding-top: 1.5rem;
  }
  .hero {
    height: 500px;
    display: flex;
    align-items: center;
  }
  .hero-heading {
    width: 30%;
  }
  .mission-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: no-wrap;

    > div {
      margin-right: 2rem;
      flex: 0 0 auto;
    }
    > div:first-child {
      flex: 0 0 40%;
    }
    > div:last-child {
      margin-right: 0;
    }
  }

  .mission-card .bodyText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .why-section {
    > .card:not(:first-child):not(:last-child) {
      border-radius: 0;
      border-bottom: 1px solid var(--bg-alt-color);
    }

    > .card:first-child {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    > .card:last-child {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
  .why-card {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (max-width: 800px) {
    .mission-card {
      flex-wrap: wrap;
    }
    .mission-card > div {
      flex: 1 0 100%;
    }

    .hide {
      display: none;
    }
  }
</style>
